/* public */
section{width:100%; overflow: hidden;}
.container{margin:0 auto; width:100%; height:100%;z-index:0;}
h2 {font-size:46px; font-weight:normal;}

/* first page */
#block-firstPage{height:1000px; width:100%; background-color:#22B573; font-size: 100px; color:#fff; text-align: center;}
.blockTitle{display:none; position:absolute; margin:0 auto; width:100%;}
#fstPage-down{position:absolute; bottom:16px; height:18px; width:100%;}
#fstPage-down a{display:block; height:27px; width:388px; margin:0 auto; background:url("../img/down.png")no-repeat center;}


/* nav */
#block-nav {position:relative; top:0; height:52px; background-color:#42474B; color:white; }
#block-nav a{padding:0 25px; font-size:14px; line-height:52px; cursor:pointer; z-index: 1; color:white;}
#block-nav a:hover{color:#999;}
#logo{display: inline-block;}

/* block-intro */
#block-intro {height:auto; width:100%; background-color:#245269; padding:60px 0 100px;}
#intro-icon  {height:300px; width:300px; margin:0 auto;border-radius: 300px;overflow: hidden}
#intro-icon a {line-height: 200px}
.link        {display:inline-block; height:100px; width:100px; text-indent: -9999em;-webkit-transition:0.4s linear;transition:0.4s ease-in;}
.link:hover  {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
#myPhoto     {height:300px; width:300px; display:block; margin:0 auto;}
#slog        {width:480px;height:30px;line-height:30px;margin:30px auto;font-size:20px;color:#fff;}
#intro-text    {display:block; margin:80px auto; color:white;width: 1000px}
#intro-text li {height:30px;}
#intro-text ul li a {display:inline-block;}
#intro-text ul li a:hover {border-bottom:2px solid white;}
#intro-text ul li span {display:inline-block; text-align:right; width:70px;}
#intro-text div {display:inline-block; width:550px; margin-left:120px;}
#intro-text>div>p {margin-bottom:26px;}

/* block-workEXP */
#block-workEXP {height:auto; width:100%; background-color:#26B1B6; color:#e7e7e7;padding:160px 0}
#block-workEXP .work-title {width:300px; margin:0 auto; text-align:center;}
#block-workEXP .workEXP-main {height:auto; width:auto; margin:100px 0 0 60px;}
#block-workEXP .timebox {width:650px;margin: 0 auto; font-size:29px;}
#block-workEXP .timebox li{display:inline-block; margin-top:5px;}
#block-workEXP .time1 {margin-left:110px}
#block-workEXP .timeline {height:27px; width:868px; margin-left:42px; }
#block-workEXP .workbox  {width:650px;margin: 0 auto;}
#block-workEXP .workbox li{display:inline-block; width:310px; vertical-align: top;}
#block-workEXP .workbox li label{display:block;}
#block-workEXP .workbox .work-place {font-size:26px; font-weight:bold}
#block-workEXP .workbox .work-position {font-size:20px;}
#block-workEXP .workbox .work-do {margin-top:10px; font-size:16px;}

/* block-prjEXP */
#block-prjEXP {min-height:100%; width:100%; background-color:#5c5d5e; color:#FFFFFF;}
#block-prjEXP .prjEXP-title {width:300px; margin:0 auto; text-align:center;padding:100px 0; }
.list{ padding:5px  60px;border:3px solid #fff;width:280px;margin:0 auto 200px;font-size: 20px;}
.list li{list-style:decimal; line-height:50px;padding-left: 30px}
.list li h1{font-size:22px; font-style:normal; font-family:"Hiragino Sans GB","Hiragino Sans GB W3";}
.list li a{ display:block; padding:5px 8px;transition:all 0.6s;}
.list li a:hover{text-indent:25px; color: #fff;text-shadow:0 2px 1px #360;background-color: #42474B;*background-color:#fff;text-decoration:none;}
.list li h1 a:hover{ color: #fff;text-shadow:0 2px 1px #360;background-color: #42474B;*background-color:#fff;text-decoration:none;}
.sub-dl{ display:none;}
.sub-dl a{ margin-left:25px;}
.sub-dl a:hover{}
.welcome{ text-align:center; padding:30px 0;}




/* block-wantMore */
#block-wantMore {width:100%; background-color:#ED6461; color:#fff;}
#block-wantMore>p {display:block; position:relative; margin:0 auto; width:100%; text-align:center; font-size: 30px;}

/* 鐧惧害缁熻 */
body>a {height:0;}